<!DOCTYPE html>
<html>
  <script type="text/javascript">
    function showAllData()
    {
      let req = new XMLHttpRequest();
      req.onreadystatechange = function(){
          // document.getElementById("body").innerHTML = req.responseText;
          document.getElementById("body").innerHTML = req.response;
      //   document.getElementById("body").innerHTML = 
       }
      let url = "http://127.0.0.1:5001/incidents/all";
      req.open("GET", url, true);
      req.responseType = "document";
      req.send();

      location.href = "http://127.0.0.1:5001/incidents/all";
      location.assign("http://127.0.0.1:5001/incidents/all");
      // location.replace("http://127.0.0.1:5001/incidents/all");

      // fetch('templates/dataDisplay.html').then(response => response.text()).then(text => document.getElementById('homePage').innerHTML = text);

      // window.location.href = ("dataDisplay.html");

    }


</script>
  <head>
    <title>Drowsiness Prevention System</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body id="body">
    <h1>Drowsiness Prevention System</h1>
    <div id="webcam_feed_div">
      <h2>Webcam Video Feed</h2>
      <img id="webcam_feed" src="{{ url_for('video_feed') }}">
      <button type ="button" id="showDataButton" onClick=showAllData() >Show drowsiness data</button>
    </div>
  </body>
</html>