<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Stay Awake Registration</h1>
	<div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" id="username" placeholder="name"/>
            <input type="password" id="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create"</button>
            <p class="message">Already registered? <a href="login.html">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>